{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-param-reassign": 0,
    "import/no-extraneous-dependencies": 0
  },
  "env": {
    "browser": "true"
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  }
}
